body{
margin: 0px;
background-color: #fffef5;
}


/*------------------ HEADERMENU-START ------------------*/
div.header{
z-index: 1;
width: 1280px;
height: 190px;
position: absolute;
left: 0px;
top: 0px;
}

/*------------------ HEADERMENU-END ------------------*/
/*------------------ LOGINMENU-START-------------------*/
div#loginmenu{
z-index: 2;
position: absolute;
left: 835px;
top: 0px;
margin-top: 0px;
}

div#loginmenu ul{
list-style-type: none;
font-family: "Arial Unicode MS";
font-size: 10px;
}

div#loginmenu ul li{
display: inline;
padding-left: 2px;
color: white;
}

div#loginmenu ul li a{
text-decoration: none;
color: white;
}
/*------------------ LOGINMENU-END -------------------*/
/*------------------ LOGOSCRIPT-START ------------------*/
div#logoscript img{
position: absolute;
top: 10px;
left: 1000px;
}
/*------------------ LOGOSCRIPT-END --------------------*/
/*------------------ CONTENT-START ------------------*/
div.title_script{
position: absolute;
z-index: 0;
margin-top: 130px;
margin-left: 100px;
}

div.content{
width: 1280px;
}

div.content img#title{
width: 300px;
margin-top: 120px;
margin-left: 600px;
}

h5{
position: absolute;
z-index: 3;
margin-top: 15px;
margin-left: 680px;
font-size: 12px;
color: white;
}

div.content img#title_image{
position: absolute;
z-index: -2;
margin-top: 90px;
width: 1280px;
}

div.content table{
border-collapse: collapse;
margin-top: 100px;
margin-left: 150px;
margin-bottom: 50px;
color: #6e6951;
width: 750px;
font-size: 14px;
}

div.content table td#product_img{
border: 1px solid #1b3127;
}

div.content table td#product_name{
font-family: "HY견고딕";
background-color: #1b3127;
color: white;
font-size: 16px;

}

div.content table td#product_description{
color: #505050;
font-size: 12px;
padding-left: 10px;
padding-right: 10px;
}

div.content table td#product_price{
background-color: #d8e4be;
color: #ff432a;
font-size: 14px;
width: 500px;
height: 30px;
font-family: "HY동녘M";
}

div.content table td#product_buy, #product_addcart{
background-color: #d8e4be;
}

div.content table tr#tab_menu td{
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
}

div.content table tr#tab_menu td a{
text-decoration: none;
color: #1b3127;
font-size: 20px;
font-family: "Script MT Bold";
}

table td#page_number a{
text-decoration: none;
color: #1b3127;
}

/*------------------ CONTENT-END --------------------*/
/*------------------ SHOPPINGCART-START --------------------*/

div#shopping_cart{
background-image: url("../../images/background_images/shopping_cart_bck.png");
background-repeat: no-repeat;
position: fixed;
z-index: 5;
top: 280px;
left: 10px;
width: 120px;
height: 270px;
}

div#shopping_cart table{
margin-top: 10px;
width: 90px;
border-collapse: collapse;
}

div#shopping_cart input#gotocart{
margin-top: 10px;
font-size: 12px;
font-weight: bold;
color: black;
border: 1px solid gray;
height: 25px;
width: 95px;
}

div#shopping_cart table td#title{
height: 20px;
font-size: 12px;
font-weight: bold;
background-color: #9bbb58;
color: white;
}

div#shopping_cart table td{
border-bottom: 1px solid #9bbb58;
height: 50px;
}

div#shopping_cart table td img{
border: 1px solid #9bbb58;
}

div#shopping_cart table td#no_items{
font-size: 12px;
font-weight: bold;
}
div#shopping_cart table td#totalitem{
font-size: 12px;
font-weight: bold;
height: 20px;
}

/*------------------ SHOPPINGCART-END --------------------*/
/*------------------ SIDEMENU-START ------------------*/
div.submenu_top{
position: absolute;
z-index: -1;
margin-top: -43px;
margin-left: -37px;
}

div#sidemenu{
position: absolute;
z-index: 0;
left: 1005px;
top: 130px;
width: 290px;
height: 600px;
}

div.sidelogo{
margin-left: 15px;
margin-bottom: 15px;
}
/*------------------ SIDEMENU-END --------------------*/
/*----------------- FOOTERMENU-START -------------------*/
div#footermenu{
background-image: url("../../images/background_images/footer_background.png");
height: 100px;
width: 1280px;
z-index: 3;
padding-top: 20px;
}

div#footermenu ul{
font-size: 12px;
}

div#footermenu ul li{
display: inline;
padding-right: 20px;
color: white;
}

div#footermenu ul li a{
text-decoration: none;
color: white;
font-family: "Arial Unicode MS";
}
/*----------------- DISCLAIMER-START -------------------*/
div#disclaimer{
margin-bottom: 10px;
}
/*----------------- DISCLAIMER-END ---------------------*/

/*----------------- FOOTERMENU-END ---------------------*/